@import url(http://fonts.googleapis.com/css?family=Roboto:400,900);
.row > div > img { 
	width: 100%; 
	display: block; 
}
.navbar {
	margin-bottom: 0;
}
.background-top {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("/assets/images/meal-table-front-short.png");
  background-size: cover;
  height: 500px;
}
.background-top p {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: white;
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 7rem;
  transform: translate(-50%, -50%);
}
.lowerOpacity {
	opacity: 0.2;
}
.background-bottom {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
    url("/assets/images/chef-kitchen.jpg");
  background-size: cover;
  height: 500px;
}
.background-bottom img {
  opacity: 0.5;
}
.background-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.background-bottom-form label {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: 400;
  font-size: 2rem;
}
.thumbnail img {
	height: 200px; 
	width: 220px; 
	display: block;
}
.container-fluid {
	background-color: #F7F7F9;
/*	background-color: #FFEAEA;*/
}
.page-header {
	text-align: center;
}

/* Styles for Results page */
.thumbnail .small-chef-picture {
	/* Round picture */
	border-radius: 50%;
	border: 3px solid white;
	height: 60px;
	width: 60px;
	position: relative;
	top: -20px;
	left: 80px;
	overflow: hidden;
}