/* Login and reg modal */
.panel-login {
  margin-top: 25px;
  border-color: #ccc;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
  color: #00415d;
  background-color: #fff;
  border-color: #fff;
  text-align:center;
}
.panel-login>.panel-heading a{
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
  color: #dd3928;
  font-size: 18px;
}
.panel-login>.panel-heading hr{
  margin-top: 10px;
  margin-bottom: 0px;
  clear: both;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
  height: 45px;
  border: 1px solid #ddd;
  font-size: 16px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
  outline:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
}
.btn-login {
  background-color: #59B2E0;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
  color: #fff;
  background-color: #53A3CD;
  border-color: #53A3CD;
}
.forgot-password {
  text-decoration: underline;
  color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
  text-decoration: underline;
  color: #666;
}

.btn-register {
  background-color: #1CB94E;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
  color: #fff;
  background-color: #1CA347;
  border-color: #1CA347;
}

/* Profile page */
.profile {
	margin-top: 30px;
	padding: 30px 0;
	background-color: #efefef;
	height: 400px;
	overflow: hidden;
}
.profile_photo {
	width: 200px;
	/*height: 200px;*/
}
.user_photo {
	height: 270px;
}

.main-content {
	margin: 15px auto;
	padding: 0 10px;
}
.row {
	margin: 0 auto;
}
.meal {
	height: 200px;
	margin: 10px auto;

}
.footer {
	padding: 30px;
}
.view {
    width: 100%;
    height: 100%;
    margin: 15px;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff url() no-repeat center center
}
.view img{
	width: 100%;
}
.view .mask, .view .content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}
.view img { 
	transition: all 0.2s linear;
}
.view .mask { 
    opacity: 0;
    background-color: rgba(255,255,255, 0.1); 
    transition: all 0.4s ease-in-out;
}	
.view h2{
    transform: translateY(-200px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view p {
    transform: translateY(400px);
    opacity: 0;
	transition: all 0.2s linear;
}
.view a.info { 
      opacity: 0;
	transition: all 0.2s ease-in-out;
}

.view:hover img { 
	transform: scale(1.1);
}
.view:hover .mask { 
	opacity: 1;
}																			 
.view:hover h2,
.view:hover p,
.view:hover a.info{ 
    opacity: 1;
    transform: translateY(0px);
}
.view:hover p {
    transition-delay: 0.1s;
}
.view:hover a.info {
    transition-delay: 0.2s;
}
@import url(http://fonts.googleapis.com/css?family=Roboto:400,900);
.row > div > img { 
	width: 100%; 
	display: block; 
}
.navbar {
	margin-bottom: 0;
}
.background-top {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("/assets/images/meal-table-front-short.png");
  background-size: cover;
  height: 500px;
}
.background-top p {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: white;
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 7rem;
  transform: translate(-50%, -50%);
}
.lowerOpacity {
	opacity: 0.2;
}
.background-bottom {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
    url("/assets/images/chef-kitchen.jpg");
  background-size: cover;
  height: 500px;
}
.background-bottom img {
  opacity: 0.5;
}
.background-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.background-bottom-form label {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: 400;
  font-size: 2rem;
}
.thumbnail img {
	height: 200px; 
	width: 220px; 
	display: block;
}
.container-fluid {
	background-color: #F7F7F9;
/*	background-color: #FFEAEA;*/
}
.page-header {
	text-align: center;
}

/* Styles for Results page */
.thumbnail .small-chef-picture {
	/* Round picture */
	border-radius: 50%;
	border: 3px solid white;
	height: 60px;
	width: 60px;
	position: relative;
	top: -20px;
	left: 80px;
	overflow: hidden;

.form-meal {
	width: 60%;
	margin: 20px auto;
}
th {
	padding: 10px 20px;
}
.red {
	color: red;
}
.meal_profile {
  padding: 20px;
}
.img-thumbnail {
  width: 100px;
}
.meal_photo {
	width: 80%;
}
.yellow-bg {
  background-color: #fadd96;
}